# Application
SERVER_PORT=8081
SPRING_PROFILES_ACTIVE=prod

# Database
DB_HOST=localhost
DB_PORT=5433
DB_NAME=order_db
DB_USER=user
DB_PASSWORD=password

# Kafka
SPRING_KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_CONSUMER_GROUP_ID=order-service
KAFKA_CONSUMER_AUTO_OFFSET_RESET=earliest

# Internal services
CATALOG_SERVICE_URL=http://localhost:8083/internal
INVENTORY_SERVICE_URL=http://localhost:8087
DEAL_SERVICE_URL=http://localhost:8085/internal
PAYMENT_SERVICE_URL=http://localhost:8082

# Observability
MANAGEMENT_HEALTH_SHOW_DETAILS=always
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318/v1/traces
LOKI_URL=http://localhost:3100/loki/api/v1/push

# GitHub / Docker build secrets
GITHUB_ACTOR=<GITHUB_USERNAME>
GITHUB_TOKEN=<PAT_GITHUB_TOKEN>